.catalog{
    width: 70%;
    margin: 0 auto;
    background-color: #F2F1FC;
    padding: 20px;
}

.catalog__header{
    display: flex;
    padding-top: 30px;
    justify-content: center;
}

.catalog__header--text{
    font-size: 30px;
    padding-left: 40px;
    color: #2b1682;
    margin-bottom: 30px;
}

.catalog__gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.catalog__gallery--item{
    width: 30%;
    margin-bottom: 30px;
    position: relative;
}

.itemOppositeSide {
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    border: 0;
    color: #fff;
}

.learnMoreBtn{
    padding: 10px 25px;
    border: 0;
    background-color: red;
    color: #fff;
    text-transform: uppercase;
    margin-top: 15px;
    cursor: pointer;
}

.learnMoreBtn:focus {
    outline: none;
}

.learnMoreBtn:hover,
.closeModalBtn:hover {
    background-color: #d20707 !important;
}

.content:hover, 
.content:hover + .itemOppositeSide {
    display: block;
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: darken;
}

.content {
    min-width: 30%;
    height: 300px;
    background-size: cover;
    background-position: 50%;
}

.bold{
    font-weight: bold;
}

.content iframe {
border: 0;
}

.modalExplanation {
    text-align: justify;
}

.closeModalBtn {
    padding: 10px 25px !important;
    background-color: red !important;
    color: #fff !important;
    border-radius: 0 !important;
}