.dateImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    background-color: #F2F1FC;
    
}

.dateImg__wrapper{
    margin-top: 30px;
    height: 600px;
    width: 600px;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.dateImg__description {
    padding: 50px;
    text-align: justify;
}

.dateImg__description--title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}

.dateVideo__wrapper{
    margin-top: 30px;
}

.calendar{
    margin-top: 30px;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #bbbbbb;
    border-radius: 7px;
}